.nav__container {
  padding: 15px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__items {
  padding: 0;
  margin: 0;
}

.nav__logo {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.nav__item {
  margin-left: 25px;
}

.nav__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
}

.nav__item a:hover {
  color: bisque;
}
